@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    margin: 0;
        user-select: none;
}

.MainImage {
    width: 100vw;
    height: 94vh;
    display: block;
    filter: brightness(1.1);
    position: relative;
}

.woodenblockcontainer {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vh;
}

.woodenblockimage {
    width: 100%;
    height: 100%;
    position: relative;
}




