
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/sidebar.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-2 sidebar">
                <div class="admin-pic">
                    <img src="~/images/user.png" alt="Admin Picture">
                </div>
                <div class="list-group list-group-flush">
                   <a href="#" class="list-group-item list-group-item-action" style="margin-bottom: 20px;">
    <i class="fas fa-search fa-fw me-3"></i><span>Search Flights</span>
</a>
<a href="#" class="list-group-item list-group-item-action" style="margin-bottom: 20px;">
    <i class="fas fa-plane-departure fa-fw me-3"></i><span>Book Flight</span>
</a>
<a href="#" class="list-group-item list-group-item-action" style="margin-bottom: 20px;">
    <i class="fas fa-ban fa-fw me-3"></i><span>Cancel Reserved Seat</span>
</a>
<a href="#" class="list-group-item list-group-item-action" style="margin-bottom: 20px;">
    <i class="fas fa-ticket-alt fa-fw me-3"></i><span>View Reserved Flights</span>
</a>
<a href="Login" class="list-group-item list-group-item-action">
    <i class="fas fa-sign-out-alt fa-fw me-3"></i><span>Logout</span>
</a>


                    
                </div>
            </div>

            <!-- Main Content Area -->
            <div class="col-lg-10">
                <!-- Add your main content here -->
            </div>
        </div>
    </div>

    <!-- Include your JS files here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
